{% include "header.html" %}
        <div class="content page">
            <h1>
                Projects
            </h1>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-12">
                    <h5>
                        The Night and Day Collective
                    </h5>
                    <p>
                        Vintage jazz, swing, and latin project. Extensive experience in weddings, functions and cruise ship work
                    </p>
                    <a href="https://www.thenightanddaycollective.com"><img class="page-img" src="https://static.wixstatic.com/media/dd7d98_8d49d9477df047a493c606b22b3db8d5~mv2.jpg/v1/fill/w_680,h_557,al_c,q_85,usm_0.66_1.00_0.01/unnamed.webp" alt=""></a>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h5>
                        Andy Moday
                    </h5>
                    <p>
                        My own guitar based instrumental project, fusing jazz and indie rock influences
                    </p>
                    <a href="https://soundcloud.com/andy-morris-65373787"><img class="page-img" src="https://i1.sndcdn.com/avatars-FPb7x6uU0u6L8PkE-95e8yQ-t500x500.jpg" alt=""></a>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h5>
                        The Downing Street Years
                    </h5>
                    <p>
                        Punk performance duo
                    </p>
                    <a href="https://www.thedowningstreetyears.com"><img class="page-img" src="https://thedowningstreetyears.files.wordpress.com/2013/03/1474556_10153540014645037_1401015098_n.jpg?w=640&h=466" alt=""></a>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h5>
                        A Modern Philosophy
                    </h5>
                    <p>
                        Music for driving at night in the city
                    </p>
                    <a href="https://amodernphilosophy.bandcamp.com/"><img class="page-img" src="https://f4.bcbits.com/img/0009680413_21.jpg" alt=""></a>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h5>
                        lostjoey86 (Music Videos)
                    </h5>
                    <p>
                        Stop Motion enthuiast
                    </p>
                    <a href="https://www.youtube.com/channel/UCMi2nQUp2BwuPLWLzo21f4g"><img class="page-img" src="https://yt3.ggpht.com/ytc/AAUvwnhm6W1XZ6BDcUZcb3jy2xEgZvVQpLnavdG-nw=s88-c-k-c0x00ffffff-no-rj" alt=""></a>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
