{% include "header.html" %}
        <div class="content page">
            <h1>
                Projects
            </h1>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <h5>
                        Github
                    </h5>
                    <p>
                        Online Repository
                    </p>
                    <a href="https://github.com/andymoday"><img class="page-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h5>
                        LinkedIn
                    </h5>
                    <p>
                        Profile
                    </p>
                    <a href="https://www.linkedin.com/in/andy-morris-0934ba210/"><img class="page-img" src="https://media-exp3.licdn.com/dms/image/C4D03AQFGoqsn_nCbrA/profile-displayphoto-shrink_200_200/0/1619025086858?e=1629331200&v=beta&t=PqIiVbzCOeCWswFNAfNwTbHvPSsYrz4j0FbsfG1A7V4" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h5>
                        Morse Code Translator
                    </h5>
                    <p>
                        Communicate in Morse Code!
                    </p>
                    <a href="https://moday-morse-translator.herokuapp.com/"><img class="page-img" src="https://moday-morse-translator.herokuapp.com/static/marconi.jpg" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h5>
                        Calculator
                    </h5>
                    <p>
                        Online retro casio calculator
                    </p>
                    <a href="https://andymoday.github.io/calculator/"><img class="page-img" src="https://avatars.githubusercontent.com/u/78038267?v=4" alt=""></a>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
